/*---------------------------------------------------- Varaiables ---------------------------------------------------- */
:root{
  --Font1:'Times New Roman', Times, serif;
  --Font2:'Times New Roman', Times, serif;
  --Font3:'Times New Roman', Times, serif;
  --Font4:'Times New Roman', Times, serif;
  --Font5:'Times New Roman', Times, serif;
  --Font6:'Times New Roman', Times, serif;

  --TextColor1: white;
  --TextColor2: rgb(210, 210, 210);
  --TextColor3: rgb(40, 40, 40);

  --LinkColor1: rgb(0, 150, 225);
  --LinkColor2: rgb(40, 40, 40);
  --LinkColor3: rgb(40, 40, 40);

  --BackgroundColor1: rgb(20, 20, 20);

  --AccentColor1: rgb(40, 40, 40);

  --PanelColor1: rgb(50, 50, 50);

  --PanelMargin1: 0.5%;
  --PanelPadding1: 20px;
  --PanelPadding2: 20px;

  --TopBorderWidth1: 10px;
  --BottomBorderWidth1: 10px;
  --LeftBorderWidth1: 3px;
  --RightBorderWidth1: 3px;

  --TopBorderWidth2: 5px;
  --BottomBorderWidth2: 5px;
  --LeftBorderWidth2: 1px;
  --RightBorderWidth2: 1px;

  --PanelWidth-8: 8%;
  --PanelWidth-12: 11.25%;
  --PanelWidth-25: 24%;
  --PanelWidth-33: 32%;
  --PanelWidth-50: 49%;
  --PanelWidth-66: 65%;
  --PanelWidth-75: 74%;
  --PanelWidth-100: 99%;
  --PanelHeight-120: 100%;

  --PanelHeight-8: 8%;
  --PanelHeight-12: 11.5%;
  --PanelHeight-25: 23.5%;
  --PanelHeight-33: 32%;
  --PanelHeight-50: 49%;
  --PanelHeight-66: 65%;
  --PanelHeight-75: 74%;
  --PanelHeight-100: 99.9999%;
  --PanelHeight-120: 100%;

  --FontSize-1: 80%;
  --FontSize0: 100%;
  --FontSize1: 120%;
  --FontSize2: 140%;
  --FontSize3: 160%;
  --FontSize4: 180%;
  --FontSize5: 200%;
  --FontSize6: 220%;
  --FontSize7: 240%;
  --FontSize8: 260%;
  --FontSize9: 280%;
  --FontSize10: 280%;
}
/*---------------------------------------------------- Varaiables End ---------------------------------------------------- */


/*---------------------------------------------------- Others ---------------------------------------------------- */
  iframe{
      height: 85%; 
      width: 100%;
      background-color: var(--PanelColor1);
  }
  /* This allows Height Percentages to work beacuase css is dumb */
  html, body {
      height: 100%; 
      width: 100%; 
      margin: 0; 
      background-color: var(--BackgroundColor1);
  }
/*---------------------------------------------------- Others End ---------------------------------------------------- */


/*---------------------------------------------------- Text Styling ---------------------------------------------------- */
  p{
      color: var(--TextColor1);
      font-family: var(--Font1);
      font-size: var(--FontSize1);
      line-height: 110%;
  }

  h1{
      color: var(--TextColor2);
      font-family: var(--Font2);
      font-size: var(--FontSize5);
      font-weight: 900;
      line-height: 110%;
  }
  
  a {
      color: var(--LinkColor1);
  }
/*---------------------------------------------------- Text Styling End---------------------------------------------------- */


/*---------------------------------------------------- Full Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .Bar{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth2);
      border-left-width: var(--LeftBorderWidth2);
      border-top-width: var(--TopBorderWidth2);
      border-bottom-width: var(--BottomBorderWidth2);
      margin-bottom: var(--PanelMargin1);
      /* Margin and padding */
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width:  100%;
      height: 100px;
      /* Other Variables */
  }
  .Bar h1{
      font-size: var(--FontSize10); 
      line-height: 80%;
  }
  .Bar p{
      font-size: var(--FontSize1);
      line-height: 0px;
      line-height: 100%;
  }
/*---------------------------------------------------- Full Panel End ---------------------------------------------------- */



/*---------------------------------------------------- Full Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .FullPanel{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth1);
      border-left-width: var(--LeftBorderWidth1);
      border-top-width: var(--TopBorderWidth1);
      border-bottom-width: var(--BottomBorderWidth1);
      /* Margin and padding */
      margin: var(--PanelMargin1);
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width:  var(--PanelWidth-100);
      height: var(--PanelHeight-50);
      /* Other Variables */
      float: left;
      overflow: hidden;
  }
/*---------------------------------------------------- Full Panel End ---------------------------------------------------- */



/*---------------------------------------------------- Large Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .LargePanel{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth1);
      border-left-width: var(--LeftBorderWidth1);
      border-top-width: var(--TopBorderWidth1);
      border-bottom-width: var(--BottomBorderWidth1);
      /* Margin and padding */
      margin: var(--PanelMargin1);
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width:  var(--PanelWidth-75);
      height: var(--PanelHeight-50);
      /* Other Variables */
      float: left;
      overflow: hidden;
  }
/*---------------------------------------------------- Large Panel End ---------------------------------------------------- */



/*---------------------------------------------------- Medium Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .MediumPanel{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth1);
      border-left-width: var(--LeftBorderWidth1);
      border-top-width: var(--TopBorderWidth1);
      border-bottom-width: var(--BottomBorderWidth1);
      /* Margin and padding */
      margin: var(--PanelMargin1);
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width:  var(--PanelWidth-50);
      height: var(--PanelHeight-50);
      /* Other Variables */
      float: left;
      overflow: hidden;
  }
/*---------------------------------------------------- Medium Panel End ---------------------------------------------------- */



/*---------------------------------------------------- Small Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .SmallPanel{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth1);
      border-left-width: var(--LeftBorderWidth1);
      border-top-width: var(--TopBorderWidth1);
      border-bottom-width: var(--BottomBorderWidth1);
      /* Margin and padding */
      margin: var(--PanelMargin1);
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width: var(--PanelWidth-25);
      height: var(--PanelHeight-50);
      /* Other Variables */
      float: left;
      overflow: hidden;
  }
/*---------------------------------------------------- Small Panel End ---------------------------------------------------- */



/*---------------------------------------------------- Tiny Panel Start ---------------------------------------------------- */
  /* Panel styling */
  .TinyPanel{
      /* border styling */
      border: solid;
      border-color: var(--AccentColor1); 
      border-right-width: var(--RightBorderWidth1);
      border-left-width: var(--LeftBorderWidth1);
      border-top-width: var(--TopBorderWidth1);
      border-bottom-width: var(--BottomBorderWidth1);
      /* Margin and padding */
      margin: var(--PanelMargin1);
      padding: var(--PanelPadding1);
      /* Background */
      background: var(--PanelColor1);
      /* Width and Height */
      width: var(--PanelWidth-25);
      height: var(--PanelHeight-25);
      /* Other Variables */
      float: left;
      overflow: hidden;
  }
/*---------------------------------------------------- Tiny Panel End ---------------------------------------------------- */


/*---------------------------------------------------- Tiny Panel Start ---------------------------------------------------- */
  /* Panel styling */

/*---------------------------------------------------- Tiny Panel End ---------------------------------------------------- */


/*---------------------------------------------------- Text Frame Start ---------------------------------------------------- */
  /* My TXTFrame style is for application inside of html iframes to allow easy text importing into the panels */
  /* TXTFrame Styling */
  .TXTFrame{
      background: var(--PanelColor1);
  }
  /* Paragraph Styling */
  .TXTFrame p {
      color: var(--TextColor1);
      font-family: var(--Font1);
      font-size: var(--FontSize1);
      line-height: 110%;
      
  }
  /* Header Styling */
  .TXTFrame h1 {
      color: var(--TextColor2);
      font-family: var(--Font2);
      font-size: var(--FontSize3);
  }
/*---------------------------------------------------- Text Frame End ---------------------------------------------------- */




/* =============================================================================================================================================== */
/* ------------------------------------------------------ Mid Size Changes Start------------------------------------------------------------------- */
/* ================================================================================================================================================ */
  @media screen and (max-width: 1024px) {
      p{
          font-size: var(--FontSize0);
      }
      h1{
          font-size: var(--FontSize1);
      }
      .LargePanel{
          border-right-width: var(--RightBorderWidth2);
          border-left-width: var(--LeftBorderWidth2);
          border-top-width: var(--TopBorderWidth2);
          border-bottom-width: var(--BottomBorderWidth2);
          padding: var(--PanelPadding2);
          width: var(--PanelWidth-66);
          height: var(--PanelHeight-50);
      }
      .TinyPanel{
          border-right-width: var(--RightBorderWidth2);
          border-left-width: var(--LeftBorderWidth2);
          border-top-width: var(--TopBorderWidth2);
          border-bottom-width: var(--BottomBorderWidth2);
          padding: var(--PanelPadding2);
          width: var(--PanelWidth-33);
          height: var(--PanelHeight-50);
      }
      .MediumPanel{
          border-right-width: var(--RightBorderWidth2);
          border-left-width: var(--LeftBorderWidth2);
          border-top-width: var(--TopBorderWidth2);
          border-bottom-width: var(--BottomBorderWidth2);
          padding: var(--PanelPadding2);
          width: var(--PanelWidth-66);
          height: var(--PanelHeight-50);
      }
      .SmallPanel{
          border-right-width: var(--RightBorderWidth2);
          border-left-width: var(--LeftBorderWidth2);
          border-top-width: var(--TopBorderWidth2);
          border-bottom-width: var(--BottomBorderWidth2);
          padding: var(--PanelPadding2);
          width: var(--PanelWidth-33);
          height: var(--PanelHeight-50);
      }
  }
/* =============================================================================================================================================== */
/* ------------------------------------------------------ Mid Size Changes End------------------------------------------------------------------- */
/* ================================================================================================================================================ */





/* =============================================================================================================================================== */
/* ------------------------------------------------------ Small Size Changes Start------------------------------------------------------------------- */
/* ================================================================================================================================================ */
  @media screen and (max-width: 800px) {
      .LargePanel{
          width: var(--PanelWidth-100);
          height: var(--PanelHeight-66);
      }
      .TinyPanel{
          width: var(--PanelWidth-50);
          height: var(--PanelHeight-66);
      }
      .MediumPanel{
          width: var(--PanelWidth-100);
          height: var(--PanelHeight-66);
      }
      .SmallPanel{
          width: var(--PanelWidth-50);
          height: var(--PanelHeight-66);
      }
  }
/* =============================================================================================================================================== */
/* ------------------------------------------------------ Mid Size Changes End------------------------------------------------------------------- */
/* ================================================================================================================================================ */